<template>
  <div class="display-4">
    <main class="mt-11">
      <v-container fluid fill-height class="loginOverlay">
        <v-layout flex align-center justify-center>
          <v-flex xs12 sm10 elevation-4>
            <v-card>
              <v-card-text class="pt-4">
                <p class="headline text-center">Search Hotels</p>
                <v-row>
                  <v-col cols="12" sm="5">
                    <v-menu
                      v-model="showFromPicker"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      full-width
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          outlined
                          v-model="selectedDateFrom"
                          append-icon="mdi-calendar-month-outline"
                          label="From"
                          persistent-hint
                          readonly
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="selectedDateFrom"
                        no-title
                        @input="showPickerFrom = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" sm="5">
                    <v-menu
                      v-model="showToPicker"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      full-width
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          outlined
                          append-icon="mdi-calendar-month-outline"
                          v-model="selectedDateTo"
                          label="To"
                          persistent-hint
                          readonly
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="selectedDateTo"
                        no-title
                        @input="showToPicker = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" sm="2">
                    <v-btn
                      color="primary"
                      block
                      class="mt-1"
                      dark
                      large
                      @click="searchResults()"
                    >Search</v-btn>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </main>
  </div>
</template>
<script>
export default {
  data: () => ({
    showFromPicker: false,
    showToPicker: false,
    selectedDateFrom: null,
    selectedDateTo: null
  }),
  methods: {
    searchResults() {
      this.$store.commit("user/SET_FROM_DATE", this.selectedDateFrom);
      this.$store.commit("user/SET_TO_DATE", this.selectedDateTo);
      this.$router.push({ name: "searchResults" });
    }
  }
};
</script>