<template>
  <div class="display-4">
    <main class="mt-11">
      <v-container fluid fill-height class="loginOverlay">
        <v-layout flex align-center justify-center>
          <v-flex xs12 sm12 elevation-4>
            <v-card>
              <v-card-text class="pt-4">
                <p class="headline text-center">Hotel Listing</p>
                <v-row>
                  <v-col cols="12" sm="3">
                    <v-text-field
                      v-model="search"
                      placeholder="Hotel Name"
                      outlined
                      rounded
                      prepend-inner-icon="mdi-magnify"
                    ></v-text-field>
                    
                  </v-col>
                  <v-col cols="12" sm="9">
                    <v-row>
                      <v-col cols="12" sm="6">
                        <p class="subtitle-1">Total Nights:{{ totalNights }}</p>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <p>
                          <v-btn
                            class="ml-1 mr-1"
                            @click="sortByName()"
                            color="primary"
                          >Sort by name</v-btn>
                          <v-btn color="primary" @click="sortByPrice()">Sort by price</v-btn>
                        </p>
                      </v-col>
                    </v-row>

                    <v-row>
                      <v-col
                        cols="12"
                        sm="6"
                        v-for="(searchHotel, index) in searchHotelsList"
                        :key="index"
                      >
                        <v-card max-width="344" outlined>
                          <v-list-item three-line>
                            <v-list-item-content>
                              <v-list-item-title class="headline mb-1">{{ searchHotel.name }}</v-list-item-title>
                              <div class="overline mb-4">Price: {{ searchHotel.price }}</div>
                              <v-list-item-subtitle>
                                <div class="overline mb-4">City: {{ searchHotel.city }}</div>
                              </v-list-item-subtitle>
                            </v-list-item-content>
                          </v-list-item>
                        </v-card>

                      </v-col>
                      <v-col cols="12" sm="6" v-if="searchHotelsList.length == 0">
                       <p class="headline">No result found</p>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </main>
  </div>
</template>
<script>
import ServiceExample from "@/core/services/service-example";
import { mapState } from "vuex";
import moment from "moment";

export default {
  data: () => ({
    beforeFilteredData:[],
    search: "",
    hotelsData: [],
    price: '',
    totalNights: '',
    minPrice:null,
    maxPrice:null,
    filterFlag: false
  }),
  methods: {
    sortByName() {
      return this.hotelsData.sort((a, b) => a.name.localeCompare(b.name));
    },
    sortByPrice() {
      return this.hotelsData.sort((a, b) => a.price - b.price);
    }
  },
  computed: {
    ...mapState("user", {
      fromDate: state => state.fromDate,
      toDate: state => state.toDate
    }),
    searchHotelsList() {
      if (this.search) {
        return this.hotelsData.filter(hotel => {
          return hotel.name.toLowerCase().includes(this.search.toLowerCase());
        });
      }
      else {
        return this.hotelsData;
      }
    },
  },
  created() {
    debugger;
    let self = this;
    const response = ServiceExample.getSearchData();
    response
      .then(({ data }) => {
        console.log(data);
        var arrPrices = data.hotels.map(hotel => Math.ceil(hotel.price));
        self.minPrice = Math.min(...arrPrices).toString();
        self.maxPrice = Math.max(...arrPrices);
        // FROM DATE
        var dateObj = new Date(self.fromDate);
        var momentObj = moment(dateObj).format("YYYY-MM-DD");
        var newFromDate = new Date(momentObj).toISOString();
        // TO DATE
        var toDateObj = new Date(self.toDate).toISOString();

        var toMomentObj = moment(toDateObj).format("YYYY-MM-DD");
        var newToDate = new Date(toMomentObj).toISOString();
        // GET DAYS TO CALC TOTAL NIGHTS
        var startFrom = moment(momentObj);
        var endTo = moment(toMomentObj);
        self.totalNights =  endTo.diff(startFrom, "days")
       
        for (var index = 0; index < data.hotels.length; index++) {
          for (
            var date = 0;
            date < data.hotels[index].availability.length;
            date++
          ) {
            var dateParts = data.hotels[index].availability[date].from.split(
              "-"
            );

            var timezoneOffset = new Date().getTimezoneOffset() * 60000;
            // month is 0-based, that's why we need dataParts[1] - 1
            var availabilityFrom = new Date(
              new Date(+dateParts[2], dateParts[1] - 1, +dateParts[0]) -
                timezoneOffset
            ).toISOString(false);

            var datePartsTo = data.hotels[index].availability[date].to.split(
              "-"
            );

            // month is 0-based, that's why we need dataParts[1] - 1
            var availabilityTo = new Date(
              new Date(+datePartsTo[2], datePartsTo[1] - 1, +datePartsTo[0]) -
                timezoneOffset
            ).toISOString(false);

            if (
              moment(newToDate).isAfter(moment(newFromDate)) &&
              (moment(newFromDate).isAfter(moment(availabilityFrom)) ||
                moment(newFromDate).isSame(moment(availabilityFrom))) &&
              (moment(newFromDate).isBefore(moment(availabilityTo)) ||
                moment(newFromDate).isSame(moment(availabilityTo))) &&
              (moment(newToDate).isBefore(moment(availabilityTo)) ||
                moment(newToDate).isSame(moment(availabilityTo)))
            ) {
              self.hotelsData.push(data.hotels[index]);
              break;
            }
          }
        }
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>