@import "../variables";

.page-header {
  margin-bottom: 15px;
}
.page-bar {
  div:nth-child(2) {
    padding-bottom: 0;
  }
}

.v-application.v-application--is-rtl {
  .page-bar {
    div:nth-child(2) button {
      float: left !important;
    }
  }
}

.form {
  padding: 40px 15px 0 25px;
  #{$deep}__header {
    margin-bottom: 40px;
  }
  #{$deep}__assign {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    i {
      font-size: 1rem;
      margin-top: -3px;
    }
  }
  #{$deep}__footer {
    margin-top: 50px;
    button {
      font-size: 0.7rem;
    }
  }
}

.driver__edit {
  height: 100%;
  padding: 15px;
  position: relative;
}

.vehicle__data {
  margin: 80px 0;
  div {
    margin-right: 30px;
  }
}

.driver {
  &__img {
    border: 3px solid #707070;
    border-radius: 50%;
    height: 50px;
    margin-bottom: 30px;
    width: 50px;
    img {
      width: 100%;
      height: 100%;
      padding: 8px;
    }
  }

  &__name {
    font-size: 22px;
  }
}

.manufacture-data {
  &__model {
    font-size: 24px;
    line-height: 32px;
  }
  &__plate-number {
    font-size: 19px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  &__fuel-type {
    font-size: 27px;
    line-height: 32px;
  }
}

.vehicle-name {
  &__img {
    height: 75px;
    margin-bottom: 10px;
    width: 75px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
