<template>
    <v-app>    
        <v-content style="background-color: #fff">
            <router-view></router-view>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        name: "app",
    };
</script>

<style lang="scss">
    @import "./assets/sass/main.scss";
</style>
