@import "./_variables.scss";
@import "./fonts.scss";
@import "./helpers.scss";

/* ===== GLOBAL STYLES ===== */
html {
  font-size: 16px;
  overflow-y: auto;
  text-transform: none !important;
}
.v-content {
  background-color: #f2f2f2 !important;
}
.table-search {
  .v-input__slot {
    border-bottom: 2px solid #707070;
  }
}

@media only screen and (max-width: 960px) {
  .navbarInner{
    width: 74% !important;
  }
  .rechargeBalance{
    margin-left: 29px !important;
  }
}

@media only screen and (max-width: 710px) {
  .navbarInner{
    width: 71% !important;
  }
}

@media only screen and (max-width: 710px) {
  .navbarInner{
    display: none;
  }

}

.transferDropdown {
  .v-input__append-outer .v-icon, .v-input__prepend-outer .v-icon{
    color: blue !important;
  }

  .item .v-icon{
    margin-left: -6px!important;
  }

  div.v-input__slot::before {
    border: 2px solid white !important;
    display: contents;
  }

  div.v-input__slot::after {
    border: 2px solid white !important;
    display: contents;
  }

  div.v-input__slot {
    /*border: 2px solid rgb(249, 204, 120) !important;
    border-radius: 25px;*/
  }

 /* div.v-select__selections {
    color: rgb(249, 204, 120) !important;
  }
*/
  div.v-select__slot {
    width: 53%;
    margin-top: 1px;
  }
  .mdi-menu-down:before, .mdi-menu-down:after{
    color: #546de5;
  }

  .v-application .primary--text, .v-select__selection--comma{
    color: #546de5 !important;
  }
  .v-select__selection--comma{
    font-size: 15px;
  }
  .v-list--dense .v-list-item{
    margin-bottom: -12px;
  }

  .transferDropdown{
    margin-top: -12px !important;
  }

  div.v-select__slot label{
    left: -9px !important;
    font-size: 15px;
    color: #546de5 !important;
    margin-left: 8px;
    font-family: CANDARA;
    margin-top: 1px;
    text-transform: capitalize;
  }

div.v-input__control {
    margin-top: 2px;
  }

  div.v-label {
    font-size: 11px;
  }

  div.v-text-field__details {
    min-height: 0 !important;
  }

  div.v-messages {
    min-height: 0 !important;
  }
}

.transferBtn{
  width: 25%;
}

a {
  text-decoration: none;
}
.page-wrap {
  background-color: #f2f2f2;
}
.v-application,
.v-application .headline {
  font-family: "CANDARA" !important;
}

.v-application.v-application--is-rtl {
  .input-code {
    left: auto;
    right: -9999;
  }
}

.security-code-container {
  direction: rtl;
}

.security-code-wrap {
  .field-wrap {
    text-align: center;
  }
}

.form {
  &--remove-spin input[type="number"] {
    // Firefox
    -moz-appearance: textfield;
  }

  &--remove-spin input::-webkit-outer-spin-button,
  &--remove-spin input::-webkit-inner-spin-button {
    // Webkit
    -webkit-appearance: none;
  }

  &__label {
    color: rgba(0, 0, 0, 0.54);
  }
}

/* ===== HELPER CLASSES ===== */
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.h1 {
  font-size: 2.5rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.75rem;
}

.h4 {
  font-size: 1.5rem;
}

.h5 {
  font-size: 1.25rem;
}

.h6 {
  font-size: 1rem;
}

.pointer {
  cursor: pointer !important;
}

.w-100 {
  width: 100% !important;
}

.v-align-b {
  vertical-align: bottom;
}

.error-message {
  color: red;
}

.v-h-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.primary-bg {
  background-color: $primary !important;
}

.primary-color {
  color: $primary !important;
}

.blue-bg {
  background-color: $blue-color !important;
}

.blue-color {
  color: $blue-color;
}

.form__footer {
  margin-top: 20px;
}

.rounded-card {
  border-radius: 20px !important;
}

.signup-rounded-card {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.signup-rounded-title {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.gray-text {
  color: $primaryGray !important;
}

.blue-link {
  color: $blue-color !important;
  text-decoration: underline;
  cursor: pointer;
}
.blue-link {
  color: $blue-color !important;
}
.gray-link {
  color: $primaryGray !important;
  text-decoration: underline;
  cursor: pointer;
}

.admin-wrapper-border-left {
  border-left: 1px solid $bordersGray !important;
}

.admin-wrapper-border-top {
  border-top: 1px solid $bordersGray;
}

.nav-bg {
  background-color: #fff !important;
}

// service provider registration request details page
.main-title {
  display: inline;
  color: blue;
  padding: 10px;
  border-radius: 16px;
}
.title-info {
  font-family: 16px;
  color: #bfbdbd;
  margin-bottom: 5px !important;
}
.sub-title-info {
  font-size: 24px;
}
.notes textarea {
  border-radius: 15px !important;
  margin-top: 11px !important;
}
.not-verified-icon {
  color:  #d4cfcf !important;
}

.adminIcons {
  margin: auto;
  text-align: center;
  width: 79px;
  img {
    width: 100%;
    height: 100%;
  }
}

.main-btn {
  width: 52%;
  margin: auto;
  text-transform: none !important;
}
.v-btn__content {
  text-transform: none !important;
}

/* ===== Data Table ===== */
.v-data-table__wrapper {
  table {
    text-align: center !important;
  }
}
.theme--light.v-data-table thead tr:last-child th {
  border-bottom-color: #ababab;
  text-align: center !important;
}
.extarnaluser .theme--light.v-data-table thead tr:last-child th {
  text-align: left !important;
}
.v-data-table-header {
  tr th:last-of-type {
    display: none !important;
  }
}

/* ===== Layout ===== */
.navigation {
  .logo-and-language {
    .language-btn {
      color: $dark-grey;
      font-size: 24px;
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}



/* Tab CSS */

.tabDesign button{
  margin-left: 22px;
  cursor: pointer;
  //width: 170px;
  display: inline-block;
  //background-color: #5E6B7F;
  //background-color: #EEEEEE;
  //color: white;
  text-align: center;
  transition: .25s ease;
  border: 1px solid #b8b8b8;
  border-bottom: none;
  padding: 10px;
  border-radius: 18px 18px 0 0;
}

.tabDesign .active{
  background-color: white;
  outline:none;
}
.tabBody {
  background-color: white;
  border: 1px solid #b8b8b8;
  border-radius: 12px 12px 12px 12px;
  margin-top: -1px;
}

.tabText {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  margin-left: 45px!important;
  margin-right: 45px!important;
}

.width88{
  width: 88% !important;
}

@media only screen and (max-width: 1200px) {
  .tabText {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 390px) {
  .tabText {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 4px !important;
    margin-right: 4px !important;
    font-size: 8px !important;
  }
}

.tableArea {
  border: 1px solid #b8b8b8;
  border-radius: 12px 12px 12px 12px;
  margin: 10px 40px 0px 40px
}

.table thead td, .table tbody td {
  padding: 25px;
  text-align: initial;
}
.tableBody{
  background-color: white;
  border: 1px solid #707070 !important;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: sans-serif;
}

a {
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
  margin: 0px;
  list-style-type: none;
}


input {
  display: block;
  outline: none;
  border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}


.limiter {
  //width: 1366px;
  position: inherit;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  //align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 12px 12px 12px 12px;
  //padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 18%;
  padding-left: 40px;
}

.column2 {
  width: 13%;
}

.column3 {
  width: 22%;
}

.column4 {
  width: 19%;
}

.column5 {
  width: 13%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
}





.table100.ver2 .table100-head {
  /*box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);*/
  border-bottom: 2px solid gray;
}

.table100.ver2 th {
  font-family: Lato-Bold;
  font-size: 18px;
  color: #fa4251;
  line-height: 1.4;

  background-color: transparent;
}

.table100.ver2 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}

.bottom {border-bottom: 2px solid black;}
table {border-collapse: separate;}


.table100.ver2 {
  border-radius: 10px;
  overflow: hidden;
  /*box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);*/
}
.table100.ver2 .ps__rail-y {
  right: 5px;
}

.table100.ver2 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver2 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}


.table100.ver2 .table100-body tr {
  border-bottom: 2px solid #000000;
}

.table100.ver2 .table100-body td {
  text-align: initial;
}
.table100.ver2 .table100-head th {
  text-align: initial;
  color: blue;
}

.table-text {
  color: #033545 !important;
}
/*.vtl-menu-icon{
display: none !important;
}
.vtl-icon-caret-down{
  display: none !important;
}*/
/*.vtl-node-content{
  display: list-item;
  list-style: disc;
}*/
.vtl-tree-margin {
  margin-left: 1em !important;
}
.sidebarList{
  line-height: 15px;
}
.vtl-tree-node:hover {
  cursor: pointer;
  background-color: white;
}


@media only screen and (max-width: 600px) {
  .btn-group {
  display: initial !important;
}
}
.supervisorDropdown{
  border-radius: 25px;
  background-color:  #f9f9f9 !important;
  padding-left: 19px;
  padding-right: 13px;
}
.balanceDropdown{
  border-radius: 25px;
  background-color:  white !important;
  padding-left: 19px;
  padding-right: 13px;
}
.theme--light.v-text-field>.v-input__control>.v-input__slot:before{
  border-color: #f9f9f9!important;
}
.theme--light.v-text-field>.v-input__control>.v-input__slot:after{
  border-color: #f9f9f9!important;
}
.accountTransfer{
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
}
.accountContent{
  background-color: #f9f9f9;
  padding: 23px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.accountContent2{
  background-color: #f9f9f9;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.borderRight{
  border-left: 1px solid black;
}
.theme--light.v-text-field>.v-input__control>.v-input__slot:before{
  background-color: lightgrey!important;
}
.theme--light.v-text-field>.v-input__control>.v-input__slot:after{
  background-color: lightgrey!important;
}

.car-plate-note {
  color: #9090908c !important;
}
.inputField>.v-text-field>.v-input__control>.v-input__slot>.v-text-field__slot{
  border-radius: 10px !important;
  background-color: white !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding: 0 20px !important;
}
.Foldericon{
  content: "\E907";
}

.showHammerIcon{
  display: none;
}
@media only screen and (max-width: 710px) {
  .showHammerIcon{
    display: block;
  }
}
